compile
Makefile
Makefile.in
mkinstalldirs
configure
config.log
depcomp
config.guess
ltmain.sh
config.sub
aterm-to-pbf.pc
Makefile.meta
Makefile.top.meta
Makefile.fragment.meta
aterm-to-pbf-uninstalled.pc
Makefile.java.meta
config.status
doc-header.html
meta-build.m4
libtool
autom4te.cache
meta-build.ant
Doxyfile.meta
missing
aclocal.m4
install-sh

