<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.meta_environment.eclipse.imp.viz.graph.view"
            targetID="org.eclipse.imp.pdb.factBrowser">
         <action
               class="org.meta_environment.eclipse.vis.graph.ShowGraphAction"
               id="org.meta_environment.eclipse.viz.graph.view"
               label="View Graph"
               style="push"
               toolbarPath="factBrowserActions"/>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.meta_environment.eclipse.vis.graph.GraphView"
            id="org.meta_environment.eclipse.viz.graph.view"
            name="Meta-Environment Graph View"/>
   </extension>

</plugin>
