*.m4
config.guess
config.sub
configure
depcomp
doc-header.html
Doxyfile.meta
install-sh
ltmain.sh
Makefile.in
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
missing
autom4te.cache
config.status
libtool
Makefile
sglr-invoker.pc
sglr-invoker-uninstalled.pc
.deps
build
dist
sglr-invoker.jar
.libs
svn-commit.tmp
Makefile.fragment.meta
.settings
build.properties
META-INF
config.log
bin
libbuild
mkinstalldirs

