configure 
Makefile.java.meta
Makefile.meta
meta-build.m4
Makefile.top.meta
meta-build.ant
autom4te.cache
Doxyfile.meta
missing
aclocal.m4
install-sh
configure
Makefile.in
mkinstalldirs
doc-header.html
Makefile
build
dist
META-INF
config.status
meta-eclipse-imp-uninstalled.pc
meta-eclipse-imp.jar
meta-eclipse-imp.pc
.project config.log .classpath .settings
.project
config.log
.classpath
.settings
bin
Makefile.fragment.meta

