aclocal.m4
asfsdf-plugin-uninstalled.pc
asfsdf-plugin.pc
install-sh
Makefile
Makefile.in
autom4te.cache
META-INF
config.status
configure
missing
asfsdf-plugin-0.1
asfsdf-plugin-0.1.tar.gz
.settings
Makefile.java.meta
doc-header.html
meta-build.m4
Makefile.meta
Makefile.top.meta
meta-build.ant
Makefile.fragment.meta
Doxyfile.meta
bin

