<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="nl.cwi.sen.metastudio"
   name="Metastudio Plug-in"
   version="0.1.0"
   provider-name="CWI"
   class="nl.cwi.sen.metastudio.MetastudioPlugin">

   <runtime>
      <library name="aterm-1.5beta.jar">
         <export name="*"/>
      </library>
      <library name="java-adapter-1.0.jar">
         <export name="*"/>
      </library>
      <library name="jjtraveler-0.4.2.jar">
         <export name="*"/>
      </library>
      <library name="meta-studio.jar">
         <export name="*"/>
      </library>
      <library name="shared-objects-1.4.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="MetaStudio"
            class="nl.cwi.sen.metastudio.PerspectiveFactory"
            id="nl.cwi.sen.metastudio.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="MetaEditor"
            icon="icons/file_obj.gif"
            extensions="asf, sdf, trm, out"
            class="nl.cwi.sen.metastudio.editor.MetaEditor"
            id="nl.cwi.sen.metastudio.editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Status"
            class="nl.cwi.sen.metastudio.StatusView"
            id="nl.cwi.sen.metastudio.views.statusview">
      </view>
      <view
            name="Module Explorer"
            class="nl.cwi.sen.metastudio.moduleview.ModuleExplorerPart"
            id="nl.cwi.sen.metastudio.ModuleExplorer">
      </view>
      <view
            name="Module Info"
            class="nl.cwi.sen.metastudio.moduleview.ModuleInfoPart"
            id="nl.cwi.sen.metastudio.ModuleInfoView">
      </view>
      <view
            name="Module Imports"
            class="nl.cwi.sen.metastudio.moduleview.ModuleImportPart"
            id="nl.cwi.sen.metastudio.ModuleImportView">
      </view>
      <view
            name="Module Parents"
            class="nl.cwi.sen.metastudio.moduleview.ModuleParentPart"
            id="nl.cwi.sen.metastudio.ModuleParentView">
      </view>
      <view
            name="Graph Tree"
            class="nl.cwi.sen.metastudio.graphview.GraphPart"
            id="nl.cwi.sen.metastudio.GraphTreeView">
      </view>
      <view
            name="Graph Import"
            class="nl.cwi.sen.metastudio.graphview.GraphPart"
            id="nl.cwi.sen.metastudio.GraphImportView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="MetaStudio Toolbar"
            visible="true"
            id="nl.cwi.sen.metastudio.ToolbarActionSet">
         <action
               label="nl.cwi.sen.metastudio.actions.OpenModuleAction"
               icon="icons/Open16.gif"
               tooltip="Open Module"
               class="nl.cwi.sen.metastudio.actions.OpenModule"
               toolbarPath="additions"
               id="nl.cwi.sen.metastudio.actions.OpenModuleAction">
         </action>
      </actionSet>
   </extension>

</plugin>
