Makefile.java.meta
doc-header.html
Makefile.meta
meta-build.m4
Makefile.top.meta
meta-build.ant
autom4te.cache
Doxyfile.meta
aclocal.m4
build
dist
META-INF
asfsdf-meta-eclipse-imp-uninstalled.pc
asfsdf-meta-eclipse-imp.jar
asfsdf-meta-eclipse-imp.pc
build.properties
config.status
configure
install-sh
Makefile
Makefile.in
missing
mkinstalldirs

.project
config.log
.classpath
bin
.settings

